* {
  font-family: Arial, Helvetica, sans-serif;   
  color:black;
}

/* body {
  background-color: rgb(136, 167, 170);
} */

.App {
  display: grid;
  height: 100vh;
  grid-template-areas: "head head head"
                       "LeftArrow Main RightArrow"
                       "foot foot foot";
  grid-template-rows: 84px 1fr auto;
  grid-template-columns: 50px auto 50px;

  /* background-color: lightblue; */
}

.App-header {
  grid-area: head;

  /* background-color: lightgoldenrodyellow; */
}

#left {
  grid-area: LeftArrow;

  /* background-color: lightgray; */
}

main {
  grid-area: Main;

  /* background-color: lightblue; */
}

#right {
  grid-area: RightArrow;

  /* background-color: darkgrey; */
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
  font-weight: bold;
  cursor: pointer;  
}

.App-footer {
  grid-area: foot;

  /* background-color: lightcoral; */
}