#weatherComtainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0px;
  height: 64px;
  
  /* background-color: lightgoldenrodyellow; */
}

.weatherBox {
  width: 120px; 
  margin: 0px 2px;

  /* background-color: teal; */
}

#weatherImageBox {
  text-align: right;  

  /* background-color: rgb(218, 72, 255); */
}

#temperature {
  margin-top: 11px;
  margin-bottom: -18px;
  font-size: 150%;
  font-weight: bold;

  /* background-color: lavender; */
}

/* #description {

  background-color: rgb(255, 182, 239);
} */